
# Created by https://www.toptal.com/developers/gitignore/api/less,vuejs
# Edit at https://www.toptal.com/developers/gitignore?templates=less,vuejs

### Less ###
*.less

### Vuejs ###
# Recommended template: Node.gitignore

node_modules/
dist/
npm-debug.log
yarn-error.log

# End of https://www.topta